
.fees-section {
  padding: 3rem 0rem;
  background-color: var(--accentColor);
}

.fees-section h1 {
  font-size: 1.8rem;
}

.fees-section span {
  border-bottom: 3px solid var(--primaryColor);
  padding-bottom: 0.4rem;
}

.fees-content-wrapper {
  margin-top: 2rem;
}
/* Create three columns of equal width */
.columns {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-column-gap: 1rem;
  /* float: left;
  width: 33.3%;
  padding: 8px;
  align-items: stretch; */
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  display: inline-table;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
} 

/* Pricing header */
.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

/* VND list item */
.price .vnd {
  background-color: rgb(219, 218, 218);
  font-size: 20px;
}

/* The "Hire Now" button */
.button {
  background-color:#0082C3;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
.columns {
  width: 100%;
}
}

/* Footer css */
  .top-header {
    background: var(--primaryColor);
    color: #ffff;
}

.footer-container {
    background: var(--primaryColor);
    color: #ffff;
    padding: 2.5rem;
    padding: 4em 2em;
    clear: both;
}

.column-10 {
    width: 45%;
    float: left;
}
/* Footer */
.footer-container h4 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-container-links {
    padding: 0;
    margin: 0rem;
    font-size: 1rem 0rem;
}

.footer-container-links li a {
    color:#fff;
    text-decoration: none;
    line-height: 2;
}

.footer-container-links li a:hover {
    text-decoration: underline;
}

.footer-container .block {
    display: block;
}
  
.main-text p  {
    text-align: left;
    margin-top: 1rem;
    font-size: 0.8rem;
  }

.main-text a {
    color: #fff;
}

.main-text a:hover {
    text-decoration: underline;
}

.navbar {
    margin-left: 2.5rem;
}

.navbar h4 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (max-width: 425px) {
    .column-4,.column-8 {
        width: unset;
        float: none;
    }
}

.column-4 {
    width: 40%;
    float: left;
}

.column-8 {
    width: 55%;
    float: left;
}
