/* MHuy register form css (dont touch) */
* {
    box-sizing: border-box;
}

.contact-us h2 {
    font-size: 1.5rem;
    text-align: center;
    
}

.contact-us span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.4rem;
}

.contact-us p {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.contact-us-wrapper {
    padding-top: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.clear_sep {
    border: 1px solid #414141;
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
}

.hidden {
    display: none;
}

.error-hint {
    font-size: 0.7rem;
    color: red;
}

input.invalid {
    border: 1px solid red;
}

input[type=text],input[type=email],input[type=number],input[type=password],input[type=tel],input[type=file],input[type=file],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 0.8rem;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 13px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 1rem;
}

button[type=submit]:hover {
    background-color: #45a049;
}

button[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 13px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 1rem;
}

button[type=button]:hover {
    background-color: #45a049;
}

button[type=reset] {
    background-color: red;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
}

button[type=reset]:hover {
    background-color: rgb(199, 28, 28);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 14px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 12px;
}


.submit-button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-align: center;
}
.submit-button:hover{
    background-color: #45a049;
}

.small-button{
    float: right;
    color:rgba(0, 0, 255, 0.445);
    padding-left: 12px;
    padding-top: 13px;
    
    
}
.small-button:hover{
    color: rgb(0, 140, 255);
}

table {
    border-collapse: collapse;
    width: 95%;
  }
  
  td, th {
    border: 2px solid rgb(136, 131, 131);
    text-align: left;
    padding: 10px;
  }
  .test{
    padding-left: 23rem;
}

.count-words p {
    float: right;
    margin-top: 0rem;
    font-size: 0.8rem
}

.thank-you {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.thank-you h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.8rem;
}

.thank-you span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.4rem;
}

.thank-you p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .submit-button,
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }     
    input[type=reset] {
        width: 100%;
        margin-top: 0;
    }     

}

/* register page */
.password-message {
    position: relative;
}

.password-message i {
    right: 10px;
    display: inline-block;
    position: absolute;
    z-index: 3;
    line-height: 42px;
    text-indent: 106px;
}


/* log in page */

.log-in {
    padding: 0rem 2rem 2rem 2rem;
}

.log-in h2 {
    font-size: 1.8rem;
    text-align: center;
    
}

.log-in span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.4rem;
}

.log-in-wrapper {
    padding: 2.5rem;
}

/* My Account */

.account-detail {
    padding: 0rem 2rem 2rem 2rem;
}

.account-detail h2 {
    font-size: 1.8rem;
    text-align: center;
    
}

.account-detail span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.4rem;
}

.account-detail-wrapper {
    padding: 2rem;
}

.account-detail img {
    margin-top: -12px;
    width: 140px;
}

