@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
:root {
    --primaryColor: #0082C3;
    --accentColor: #f8f7f5;
    --textColor: #6b6f81;
} 

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
        
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.top-header,
.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.top-header {
    background: var(--primaryColor);
    color: #ffff;
}

.nav-icons ion-icon {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.nav-icons-2 ion-icon {
    font-size: 4rem;
}

.bottom-header {
    padding: 1rem 2rem;
}

.mall-brand {
    display: flex;
}

.mall-brand img {
    margin-right: .5rem;
}


nav ul {
    display: flex;
}

nav li {
    margin-left: 1rem;
}

nav li a {
    font-size: 1.3rem;
    color: var(--textColor);
    font-weight: 500;
}

#toc_container {
  background: #f9f9f9 ;
  display: table;
  font-size: 35%;
  margin-bottom: 1em;
  padding: 20px;
  width: fit-content;
  }

  .toc_title {
  font-weight: 700;
  text-align:center;
  }
  #toc_container li, #toc_container ul, #toc_container ul li{
  list-style: outside none none !important;
  }
    .column1 {
      float: left;
      width: 35%;
      height: 100%;
      
    }
    
    .column2 {
      float: left;
      width: 65%;
      height: 100%;
      
    }
      
    .products {
        display: flex;
        flex-wrap: wrap;
        flex:auto;
        
      }
      
    .product-card {
        padding: 2%;
        flex-basis: 16%;
        text-align: center;
        display:contents ;
      }
      
    .product-image img {
        float: left;
        width: 240px;
        height: 240px;
        background-size: cover;
        vertical-align: middle;
      }
    .product-info {
        margin-top: auto;
        
      }
     

    
    
   



