.product-detail-section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.product-detail-section h2 {
    font-size: 2rem;
}
.product-detail-section span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.4rem;
}

.product-detail-content-wrapper {
    margin-top: 3.5rem;
}

.clear_sep {
    border-bottom: 2px solid #414141;
    margin-bottom: 2.5rem;
}

.product-detail-content img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px -5px #000000; 
    box-shadow: 0px 0px 10px -5px #000000;
}

.product-detail-section h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 2rem;
}

.product-detail-content h4 {
    font-size: 0.8rem;
    text-align: justify;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: -1.3rem;
}

.product-detail-content h5 {
    font-size: 0.8rem;
    text-align: justify;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: -1.3rem;
}

.product-detail-content p {
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: -1.3rem;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align:left;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2rem;
    }
    
button:hover {
    background-color: #f44336;
    color: white;
}  
       
.icons ion-icon{
    font-size: 36px;
    display: flex;
    margin-left: 2rem;
}

@media only screen and (max-width:425px) {
    .product-detail-content h3 {
        margin-left: 0rem;
        text-align: center;
        margin-top: 1rem;
    }
    .product-detail-content h4 {
        margin-left: -1.3rem;

    }
    .product-detail-content h5 {
        margin-left: 0rem;
        text-align: center;
        margin-left: -1.3rem;
    }
    .product-detail-content p {
        margin-left: 0rem;
        text-align: center;
        margin-left: -1.3rem;
    }
    .button {
        display: inline-block;
        margin-left: 0rem;
    }
}



    
    
   



