@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
:root {
    --primaryColor: #0082C3;
    --accentColor: #f8f7f5;
    --textColor: #6b6f81;
} 

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
        
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.top-header,
.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.top-header {
    background: var(--primaryColor);
    color: #ffff;
}

.nav-icons ion-icon {
    font-size: 1.5rem;
    margin-left: 1rem;

}
.nav-icons a {
    color: #fff;
}
.nav-icons button {
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
}
.nav-icons-2 ion-icon {
    font-size: 4rem;
}

.nav-icons-3 ion-icon {
    font-size: 2rem;
}

.nav-icons-2 a {
    color: #000000;
}

/* resize nav icon for phone */

@media only screen and (max-width:425px){
    .nav-icons-2 ion-icon {
        font-size: 2.5rem;
    }
}

.bottom-header {
    padding: 1rem 2rem;
}

.mall-brand {
    display: flex;
}

.mall-brand img {
    margin-right: .5rem;
    display: flex;
    max-width: 100%;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 1.2rem;
}

nav li a {
    font-size: 1.3rem;
    color: var(--textColor);
    font-weight: 500;
}

nav li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 425px) {
    .bottom-header {
        padding: 0rem 1rem; 
    }
    
    img {
        width: 80%;
    }

    nav li a {
        font-size: 0.8rem;
        color: var(--textColor);
        font-weight: 300;
    }
}

.main-page-section {
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.main-page-section img {
    max-width: 100%;
    height: auto;
    width: fit-content;
}

.main-page-section h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    margin-left: 4rem;
    position: absolute;
    margin-bottom: 9rem;
}

.main-page-section p {
    font-size: 5rem;
    color: #fff;
    letter-spacing: 1.5rem;
    margin-left: 4rem;
    font-family: 'Amatic SC', cursive;
    position: absolute;

}
@media only screen and (max-width: 320px) {
    .main-page-section h1 {
        font-size: 0.8rem;
        margin-left: 2rem;
        margin-bottom: 2rem 1rem;
    }
    
    .main-page-section p {
        font-size: 1.2rem;
        letter-spacing: 1rem;
        margin-left: 2rem;
    
    }
}

@media only screen and (max-width: 425px) {
    .main-page-section h1 {
        font-size: 1rem;
        margin-left: 2rem;
        margin-bottom: 4rem;
    }
    
    .main-page-section p {
        font-size: 1.4rem;
        letter-spacing: 1rem;
        margin-left: 2rem;
    
    }
}

.wrapper {
    width: 75%;
    margin: auto;
}

.wrapper-2 {
    width: 85%;
    margin: auto;
}

.wrapper-3 {
    width: 80%;
    margin: auto;
}

.wrapper-4 {
    width: 65%;
    margin: auto;
}

.main-page-section-browse {
    padding: 1.2rem 0rem;
    background: rgb(81, 103, 109)
}

.browse-main-page {
    width: 100%;
    display: block;
    border: 1px solid #edeef4;
    height: 40px;
    padding: .4rem 1rem;
    outline: none;
}

.browse-size {
    padding: 0rem 2rem;
    text-align: center;
}

.browse-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2rem;

}
.menu > li, .menu > a {
    display: inline-block;
    
}

.menu li {
    position: relative;
    z-index: 10;
}

.menu li span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.2rem;
}

.menu a {
    text-decoration: none;
    color:#fff;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}

.menu a:hover {
    background-color: var(--primaryColor)
}


/* Sub menu level 1*/

.submenu {
    position: absolute;
    background-color: rgb(81, 103, 109);
    display: none;
}

/* Sub menu level 2*/
.submenu2 {
    position: absolute;
    background-color: rgb(81, 103, 109);
    left: 100%;
    top: 0;
    width: 120px;
    display: none;
    
}

.menu li:hover > .submenu {
    display: block;
    animation: slideup .3s ease;
} 

.submenu li:hover > .submenu2 {
    display: block;
    animation: slideleft .3s ease;
}

/*Animation Keyframe*/
@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@media only screen and (max-width:425px){
    .browse-grid {
        display: block;
    }
}
    
.navigation-section {
    padding: 3rem 0rem;
}

.navigation-section span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.4rem;
}

.section-header {
    text-align: center;
}

.section-header h2 {
    font-size: 1.6rem;
}

@media only screen and (max-width:425px){
    .navigation-section {
        padding: 2rem 1rem;
    }

    .section-header h2 {
        font-size: 1rem;
    }
}

.navigation-container-wrapper {
    margin-top: 2.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(1, 3fr);
}


.container {
    padding-top: 35px; 
}

.container li a {
    color:#000000;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: inline;
}

.container li:hover {
    text-decoration: underline;
}

@media only screen and (max-width:425px){
    .container li {
        font-size: 0.8rem;
        letter-spacing: 0.5px;
    }
}

.brand-content-section {
    background: #cdefff;
    padding: 1rem 0rem; 
}

.brand-content-section h2 {
    font-size: 2rem;
}

.brand-content-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 6fr);
    grid-column-gap: 2.8rem;
}

.brand img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 8px -5px #000000; 
    box-shadow: 0px 0px 8px -5px #000000;
}

.brand:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width:425px){
    .brand-content-section h2 {
        font-size: 1rem;
    }
    .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 2fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}
@media only screen and (max-width:768px){
    .brand-content-section h2 {
        font-size: 1.5rem;
    }
    .grid-container-2 {
        display: grid;
        grid-column-gap: 2rem;
    }
}

/*FEATURES SECTION START*/
.new-features-section {
    padding: 2.5rem;
    background-color: var(--accentColor);
}

.new-features-wrapper {
    margin-top: 3.1rem;
}

.new-features-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.new-features-section p {
    font-size: 1.2rem;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 4fr);
    grid-column-gap: 2.5rem;
       
}

.flyer img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px -5px #000000; 
    box-shadow: 0px 0px 10px -5px #000000;
    
}

.flyer:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;

}

.flyer-content {
    align-items: flex;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    border: 4px #525252;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px -5px #000000; 
    box-shadow: 0px 0px 10px -5px #000000;
    
}
.flyer-content h3 {
    text-align: left;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-left: 0.4rem;
    padding-right: 1rem;
}

.flyer-content h4 {
    text-align: left;
    font-size: 1rem;
    padding: 0.6rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;

}

@media only screen and (max-width:425px) {
    .new-features-wrapper {
        margin-top: 2rem;
    }
    .new-features-section h2 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }
    .new-features-section p {
        font-size: 0.8rem;
    }
    .grid-container-3 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .flyer img {
        display: flex;
        width: 80%;
    }
    
    .flex-container {
        display: none;
    
    }
    
    .flyer-content {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .flyer-content {
        display: block;
        width: 100%;
        padding-top: 2rem 1rem;
    }

    .flyer-content h3 {
        font-size: 1rem;
        padding-top: 0.8rem;
        padding-left: 0.4rem;
        padding-right: 0.8rem;
    }
    
    .flyer-content h4 {
        font-size: 0.8rem;
        margin-top: 0.5rem;
        padding-left: 0.4rem;
    
    }
}
/*FEATURES SECTION END*/

/*NEW STORE SECTION START*/
.new-stores-section {
    padding: 2.5rem;
    background-color: var(--accentColor);
}

.column-4 {
    width: 40%;
    float: left;
}

.column-8 {
    width: 55%;
    float: left;
}

.column-9 {
    width: 100%;
    float: left;
}

.new-stores-section h2 {
    font-family: 'Gochi Hand', cursive;
    text-align: right;
    font-size: 4rem;

}

.new-stores-section p {
    font-family: 'Amatic SC', cursive;
    margin-top: 2rem 1rem; 
    text-align: right;
    font-size: 1.5rem;
}
@media only screen and (max-width: 425px) {
    .new-stores-section {
        padding: 1.5rem;
    }

    .column-4,.column-8 {
        width: unset;
        float: none;
    }
    .new-stores-section {
        padding: 1.5rem;
    }

    .new-stores-section h2 {
        text-align: center;
        font-size: 2rem;

    } 
    .new-stores-section p {
        margin-top: 1rem 0rem; 
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .new-stores-section h2 {
        font-size: 2rem;

    } 
    .new-stores-section p {
        margin-top: 1rem 0rem; 
        font-size: 1.2rem;
    }
}


.slider {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    -webkit-box-shadow: 0px 0px 10px -5px #000000; 
    box-shadow: 0px 0px 10px -5px #000000;
}

.slides {
    width: 500%;
    height: 300px;
    display: flex;
}


.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 300px;
    height: 300px;
}

.navigation-manual {
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2.5px solid #cdefff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}
@media only screen and (max-width: 425px) {
    .slider {
        margin: auto;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        display: block;
        -webkit-box-shadow: 0px 0px 10px -5px #000000; 
        box-shadow: 0px 0px 10px -5px #000000;
    }
    
    .slides {
        width: 500%;
        height: 100px;
        display: flex;
    }
    
    .slides input {
        display: none;
    }
    
    .slide {
        width: 20%;
        transition: 2s;
    }
    
    .slide img {
        width: 100px;
        height: 100px;
    }
    
    .navigation-manual {
        position: absolute;
        width: 100px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    .manual-btn:not(:last-child) {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .slider {
        margin: auto;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        display: block;
        -webkit-box-shadow: 0px 0px 10px -5px #000000; 
        box-shadow: 0px 0px 10px -5px #000000;
    }
    
    .slides {
        width: 500%;
        height: 200px;
        display: flex;
    }
    
    .slides input {
        display: none;
    }
    
    .slide {
        width: 20%;
        transition: 2s;
    }
    
    .slide img {
        width: 200px;
        height: 200px;
    }
    
    .navigation-manual {
        position: absolute;
        width: 200px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }
    .manual-btn:not(:last-child) {
        margin-right: 20px;
    }
}

.manual-btn:hover {
    background: var(--textColor);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
}

.navigation-automatic div {
    border: 2.5px solid #cdefff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-automatic div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #cdefff
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #cdefff
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #cdefff
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #cdefff
}


/*NEW STORE SECTION END*/

/*NEW PRODUCTS SECTION START*/

.new-product-section {
    padding: 2.5rem;
    background-color: #fff;
}

.new-product-section h2 {
    font-size: 2.5rem;
}

.new-product-section span {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 0.4rem;
}

.new-product-content {
    margin-top: 2.5rem;
}

.thumbnail-slider{
	width: 100%;
	float: left;
	overflow: hidden;
}

.thumbnail-slider .thumbnail-container{
	width: 100%;
	float: left;
	transition: margin 1s ease;
}

.thumbnail-slider .item{
    box-shadow: 2px 2px 15px rgba(0, 0, 0 ,0.2);
    border-radius: 10px;
    overflow: hidden;
    float: left;
    left: 50%;
    top: 50%;
}

.thumbnail-slider .item h4 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0.8rem;
    font-style: bold;
}

.new-product-content h5 {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0.2rem;
    padding-bottom: 0.5rem;
}

.thumbnail-slider .slider-img {
    position: relative;
}

.thumbnail-slider .slider-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    
}

.thumbnail-slider .overlay__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(2px);
    object-fit: cover;
}

.overlay__img > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.overlay__img:hover {
    opacity: 1;
}

.overlay__img:hover > * {
    transform: translateY(0);
}

.thumbnail-slider .detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    height: 110px;
}

.thumbnail-slider .controls{
	width: 100%;
	float: left;
	padding: 10px 10px 30px;
}

.thumbnail-slider .controls ul{
	display: block;
	text-align: center;
	padding:0;
	margin:0;
	list-style: none;
}
.thumbnail-slider .controls ul li{
	height: 35px;
	width: 35px;
	border:1px solid #c3c3c3;
	margin:4px;
	display: inline-block;
	line-height: 33px;
	cursor: pointer;
}
.thumbnail-slider .controls ul li.active{
	background-color: var(--accentColor);
	color: var(--primaryColor);

}

.types {
    display: flex;
    flex-direction: column;
}

.types a {
    color: #222222;
    margin: 0.5rem 0rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 0.8rem;
}

.types p {
    color: rgba(26, 26, 26, 0.5);
}






.footer-container {
    background: var(--primaryColor);
    color: #ffff;
    padding: 2.5rem;
    padding: 4em 2em;
    clear: both;
}

/* .column-10 {
    width: 45%;
    float: left;
} */

.footer-container h4 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-container-links {
    padding: 0;
    margin: 0rem;
    font-size: 1rem 0rem;
}

.footer-container-links li a {
    color:#fff;
    text-decoration: none;
    line-height: 2;
}

.footer-container-links li a:hover {
    text-decoration: underline;
}

.footer-container .block {
    display: block;
}
  
.main-text p  {
    text-align: left;
    margin-top: 1rem;
    font-size: 0.8rem;
  }

.main-text a {
    color: #fff;
}

.main-text a:hover {
    text-decoration: underline;
}

.navbar {
    margin-left: 2.5rem;
}

.navbar h4 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2rem 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* @media only screen and (max-width: 425px) {
    .footer-container 
} */